* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

.wrap {
	padding: 0 20px;
	max-width: 1210px;
	z-index: 15;
	margin: auto;
	position: relative;
}

html {
	&.js-lock {
		overflow: hidden;
	}
}

html,
body {
	font-size: 1px; // 1rem = 1px
	@include max-screen($large_tablet) {
		font-size: 0.85px;
	}
	@include max-screen($large_mobile) {
		font-size: 1px;
	}
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background: radial-gradient(293.54% 123.11% at 50% 3.15%, #C4E6ED 33.23%, #A7E0F1 64.58%, #4FC5EB 100%);
	color: #275D68;
	min-height: 100vh;
	font-weight: 500;
	&.js-lock {
		overflow: hidden;
	}
}

.main-wrap {
	font-size: 16rem;
	background: url(/img/main-wrap_bg.png) 50% 180rem no-repeat;
	background-size: auto 1787rem;
	overflow: hidden;
}

input,
textarea {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	color: inherit;
	font-family: inherit;
}

main {
	display: block;
}

a {
	color: inherit;
	text-decoration-skip-ink: none;
	text-decoration: none;
}

.inline {
	font-size: 0;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}

.icon {
	width: 100%;
}

.clear {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&_center {
		justify-content: center;
	}

	&_inline {
		display: inline-flex;
	}

	&_justify {
		justify-content: space-between;
	}

	&_left {
		justify-content: flex-start;
	}

	&_right {
		justify-content: flex-end;
	}

	&_start {
		align-items: flex-start;
	}
	&_bottom {
		align-items: flex-end;
	}

	&_vertical {
		align-items: center;
	}
}

.css-text-left {
	text-align: left;
}

.css-text-center {
	text-align: center;
}

.css-text-right {
	text-align: right;
}

.row {
	display: table;
	width: 100%;

	&_fixed {
		table-layout: fixed;
	}

	& > * {
		display: table-cell;
		vertical-align: top;
	}
}

.fit-by-content {
	white-space: nowrap;
	width: 1%;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
}

.object-fit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.css-scrollbar {
	overflow-y: auto;
	/* width */
	&::-webkit-scrollbar {
		width: 3px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: rgba(#c4c4c4, 0.4);
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: gray;
	}

	/* Handle on hover */
	// &::-webkit-scrollbar-thumb:hover {
	// 	background: #555;
	// }
}
.icon-arrow {
	width: 8px;
	height: 6px;
	fill: none;
	stroke: #919191;
	stroke-width: 1.2;
}

.title {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 6rem 20rem;
	min-height: 38rem;
	background: #fff;
	border-radius: 20px;
	@include max-screen($large_mobile) {
		min-height: 24px;
		padding: 4px 15px;
		&-wrap {
			text-align: center;
		}
	}
}

.m-visible {
	display: none;
}

@include max-screen($large_mobile) {
	.m-hidden {
		display: none;
	}
	.m-visible {
		display: block;
	}
}