.content p,
.p,
.content li,
.li {
	font-size: 16rem;
	line-height: (26/16) * 1;
}

.content_big {
	p, li {
		font-size: 16rem;
		line-height: 26/16*1;
	}
}

.content {
	p, ul, ol {
		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
	ul {
		list-style: none;
		li {
			&:not(:last-child) {
				margin-bottom: 15rem;
			}
		}
		li {
			position: relative;
			padding-left: 28rem;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 13rem;
				height: 13rem;
				background: url(/img/dot.svg) 0 0 no-repeat;
				background-size: 100% 100%;
				left: 0;
				top: 5rem;
			}
		}
	}
	@include max-screen($large_mobile) {
		p, li {
			font-size: 12px;
			line-height: 21px;
		}
		p, ul, ol {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		p, ul, ol {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		ul {
			li {
				padding-left: 16px;
				&:before {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
}

.small {
	font-size: 12px;
	line-height: 15px;
}

.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 600;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-weight: 600;
}

.h1,
.content h1 {
	font-size: 18rem;
	line-height: 22/18*1;
}

.h2,
.content h2 {
	font-size: 18rem;
	line-height: 22/18*1;
}

.h3,
.content h3 {
	font-size: 16rem;
	line-height: 26/16*1;
}

.h4,
.content h4 {
}

.h5,
.content h5 {
}

.h6,
.content h6 {
}


@include max-screen($large_mobile) {
	.h1,
	.content h1 {
		font-size: 12px;
		line-height: 15px;
	}

	.h2,
	.content h2 {
		font-size: 12px;
		line-height: 15px;
	}
}