extends ../layouts/base

append vars
	- title = '9 класс';

block content
	+b.blog
		+e.wrap.wrap
			+e.breadcrumbs.UL.breadcrumbs__
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| 9 класс
			+e.title-wrap.title-wrap.m-visible
				+e.H1.headline.h1.title 9 класс
			+e.row.row
				+e.column.column._sidebar
					+e.cat.cat__.m-visible
						+e.item
							+e.head
								+e.title Выбор предмета
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
					+e.cat.cat__.m-hidden
						+e.item
							+e.head
								+e.title 1 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
						+e.item
							+e.head
								+e.title 2 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
						+e.item
							+e.head
								+e.title 3 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
						+e.item
							+e.head
								+e.title 4 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
						+e.item
							+e.head
								+e.title 5 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
						+e.item
							+e.head
								+e.title 6 класс
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
				+e.column.column._content
					+e.title-wrap.title-wrap.m-hidden
							+e.H1.headline.h1.title 9 класс
					+e.list.list-book__._horizontal.flex._justify
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
					//-+e.btn-wrap
						+e.A.btn.btn__(href="#")
							+e.text
								| Еще 30 учебников
			include ../layouts/bottom