extends ../layouts/base

append vars
	- title = 'Английский язык';

block content
	+b.blog
		+e.wrap.wrap
			+e.breadcrumbs.UL.breadcrumbs__
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| Английский язык
			+e.row.row
				+e.column.column._sidebar
					+e.cat.cat__.m-hidden
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject1.svg")
									+e.title-text Русский язык
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject2.svg")
									+e.title-text Математика
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject3.svg")
									+e.title-text География
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject4.svg")
									+e.title-text Биология
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject5.svg")
									+e.title-text История
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject6.svg")
									+e.title-text Алгебра
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
						+e.item
							+e.head
								+e.title
									+e.title-icon
										img(src="/app/img/subject7.svg")
									+e.title-text Физика
								+e.arrow
									+icon('arrow')
							+e.list
								+e.list-item
									+e.A.list-link(href="#") 1 класс
								+e.list-item
									+e.A.list-link(href="#") 2 класс
								+e.list-item
									+e.A.list-link(href="#") 3 класс
								+e.list-item
									+e.A.list-link(href="#") 4 класс
								+e.list-item
									+e.A.list-link(href="#") 5 класс
								+e.list-item
									+e.A.list-link(href="#") 6 класс
								+e.list-item
									+e.A.list-link(href="#") 7 класс
								+e.list-item
									+e.A.list-link(href="#") 8 класс
				+e.column.column._content
					+e.title-wrap.title-wrap
						+e.H1.headline.h1.title Английский язык
					+e.cat.cat__.m-visible
						+e.item
							+e.head
								+e.title Предметы
								+e.arrow
									+icon('arrow')
							+e.list
								include ../layouts/subjects
					+e.cat.cat__.m-visible
						+e.item
							+e.head
								+e.title Классы
								+e.arrow
									+icon('arrow')
							+e.list
								+e.A.subject(href="#")
									+e.subject-text 1 класс
								+e.A.subject(href="#")
									+e.subject-text 2 класс
								+e.A.subject(href="#")
									+e.subject-text 3 класс
								+e.A.subject(href="#")
									+e.subject-text 4 класс
								+e.A.subject(href="#")
									+e.subject-text 5 класс
								+e.A.subject(href="#")
									+e.subject-text 6 класс
					+e.list.list-book__._horizontal.flex._justify
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
					//-+e.btn-wrap
						+e.A.btn.btn__(href="#")
							+e.text
								| Еще 30 учебников
			include ../layouts/bottom