extends ../layouts/base

append vars
	- title = 'Страница урока 2';

block content
	+b.lesson
		+e.wrap.wrap
			+e.breadcrumbs.UL.breadcrumbs__
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					a(href="#") Украинский язык 10 класс
				+e.LI.item
					| Как писать эссе: правила и примеры
			+e.head
				+e.title-wrap.title-wrap.js-title-clone
					+e.H1.headline.h1.title Украинский язык 10 класс, П.П. Попель, Л.С. Крикля
				.m-hidden
					+e.social.social__
						+e.text Поделиться решебником
						+e.list
							+e.item(href="#")
								+icon('od')
							+e.item(href="#")
								+icon('vk')
							+e.item(href="#")
								+icon('fb')
							+e.item(href="#")
								+icon('twitter')
			+e.top._vertical
				+e.A.preview.js-img-modal(href="/app/img/book_big.jpg")
					img(src="/img/book.jpg")
				+e.top-content
					.js-title-move
					+e.top-title
						strong Авторы: 
						| П.П. Попель, Л.С. Крикля
					+e.top-title
						strong Издательство: 
						| МОН
			.m-visible
				+e.social.social__
					+e.text Поделиться решебником
					+e.list
						+e.item(href="#")
							+icon('od')
						+e.item(href="#")
							+icon('vk')
						+e.item(href="#")
							+icon('fb')
						+e.item(href="#")
							+icon('twitter')
			+e.task
				+e.H2.task-title.h1.title Задание 263
				+e.A.task-img.js-img-modal(href="/app/img/lesson__img_big.jpg")
					img(src="/img/lesson__img.jpg")
				+e.A.task-btn._prev(href="#")
				+e.A.task-btn._next(href="#")
			+e.comments
				img(src="/img/vk_comments.jpg")
			+e.bottom
				+e.books
					+e.title-wrap.title-wrap
						+e.H1.headline.h1.title Популярные учебники
					+e.list.list-book__._horizontal.flex._justify.js-wrapSlider(data-resolution='810', data-settings=`{
										"smartSpeed": 500,
										"items": 1,
										"margin": 12,
										"center": false,
										"nav": false,
										"autoWidth": true,
										"dots": true
									}`,)
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
						+e.A.item(hef="#")
							+e.preview
								+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
							+e.content
								+e.title
									| Украинский язык 10 класс язык 10 класс
								+e.desc
									p
										strong Авторы: 
										| П.П. Василенко П.П. Попель Л.С. Крикля
									p
										strong Издательство: 
										| МОН
				+e.popular
					+e.title-wrap.title-wrap
						+e.H1.headline.h1.title Популярные статьи
					+e.blog.blog__
						+e.list.blog__._horizontal.flex.js-wrapSlider(data-resolution='810', data-settings=`{
										"smartSpeed": 500,
										"items": 1,
										"margin": 12,
										"center": false,
										"nav": false,
										"autoWidth": true,
										"dots": true
									}`,)
							+e.A.item(href="#")
								+e.head
									+e.preview
										img(src="/img/post__preview.jpg")
									+e.title
										| Как писать эссе: правила и примеры
								+e.desc
									| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
								+e.date
									| 24.09.2020
							+e.A.item(href="#")
								+e.head
									+e.preview
										img(src="/img/post__preview.jpg")
									+e.title
										| Как писать эссе: правила и примеры
								+e.desc
									| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
								+e.date
									| 24.09.2020
							+e.A.item(href="#")
								+e.head
									+e.preview
										img(src="/img/post__preview.jpg")
									+e.title
										| Как писать эссе: правила и примеры
								+e.desc
									| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
								+e.date
									| 24.09.2020
							+e.A.item(href="#")
								+e.head
									+e.preview
										img(src="/img/post__preview.jpg")
									+e.title
										| Как писать эссе: правила и примеры
								+e.desc
									| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
								+e.date
									| 24.09.2020