extends ../layouts/base

append vars
	- title = 'Главная';

block content
	+b.main
		+e.wrap.wrap
			+e.row.row
				+e.column.column._content
					+e.title-wrap.title-wrap
						+e.title._table.h2.title Таблица учебников
					+e.table.table__
						+e.head
							+e.left
							+e.right
								+e.row
									+e.col
										+e.A.class(href="#") 1
									+e.col
										+e.A.class(href="#") 2
									+e.col
										+e.A.class(href="#") 3
									+e.col
										+e.A.class(href="#") 4
									+e.col
										+e.A.class(href="#") 5
									+e.col
										+e.A.class(href="#") 6
									+e.col
										+e.A.class(href="#") 7
									+e.col
										+e.A.class(href="#") 8
									+e.col
										+e.class 9
									+e.col
										+e.class 10
									+e.col
										+e.class 11
						+e.list
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject1.svg")
										+e.subject-text Русский язык
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.A.number(href="#") 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.number 7
										+e.col
											+e.number 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject2.svg")
										+e.subject-text Математика
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject3.svg")
										+e.subject-text География
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject4.svg")
										+e.subject-text Биология
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.A.number(href="#") 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.number 7
										+e.col
											+e.number 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject5.svg")
										+e.subject-text История
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject6.svg")
										+e.subject-text Алгебра
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject7.svg")
										+e.subject-text Физика
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.A.number(href="#") 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.number 7
										+e.col
											+e.number 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject8.svg")
										+e.subject-text Химия
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject9.svg")
										+e.subject-text Геометрия
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject10.svg")
										+e.subject-text Обществознание
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.A.number(href="#") 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.number 7
										+e.col
											+e.number 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject11.svg")
										+e.subject-text Английский язык
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject12.svg")
										+e.subject-text Информатика
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject13.svg")
										+e.subject-text Литература
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.A.number(href="#") 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.number 7
										+e.col
											+e.number 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject14.svg")
										+e.subject-text Окружающий мир
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject15.svg")
										+e.subject-text Немецкий язык
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject16.svg")
										+e.subject-text Французкий язык
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject17.svg")
										+e.subject-text Экология
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject18.svg")
										+e.subject-text ОБЖ
									+e.row._hidden
										+e.col
											+e.A.number(href="#") 1
										+e.col
											+e.A.number(href="#") 2
										+e.col
											+e.A.number(href="#") 3
										+e.col
											+e.number 4
										+e.col
											+e.A.number(href="#") 5
										+e.col
											+e.number 6
										+e.col
											+e.number 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.number 9
										+e.col
											+e.number 10
										+e.col
											+e.number 11
								+e.right
									+e.row._line
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
										+e.col
										+e.col
							+e.item
								+e.left
									+e.A.subject(href="#")
										+e.subject-icon
											img(src="/app/img/subject19.svg")
										+e.subject-text Технология
									+e.row._hidden
										+e.col
											+e.number 1
										+e.col
											+e.number 2
										+e.col
											+e.number 3
										+e.col
											+e.number 4
										+e.col
											+e.number 5
										+e.col
											+e.A.number(href="#") 6
										+e.col
											+e.A.number(href="#") 7
										+e.col
											+e.A.number(href="#") 8
										+e.col
											+e.A.number(href="#") 9
										+e.col
											+e.A.number(href="#") 10
										+e.col
											+e.A.number(href="#") 11
								+e.right
									+e.row._line
										+e.col
										+e.col
										+e.col
										+e.col
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
											+e.A.ok(href="#")
										+e.col
				+e.column.column._sidebar
						+e.title-wrap.title-wrap
							+e.title._book.h2.title Популярные учебники
						+e.list-book.list-book__._vertical.js-wrapSlider(data-resolution='810', data-settings=`{
								"smartSpeed": 500,
								"items": 1,
								"margin": 12,
								"center": false,
								"nav": false,
								"autoWidth": true,
								"dots": true
							}`,)
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
							+e.A.item(hef="#")
								+e.preview
									+e.IMG.preview-pic.object-fit(src="/img/book.jpg")
								+e.content
									+e.title
										| Украинский язык 10 класс язык 10 класс
									+e.desc
										p
											strong Авторы: 
											| П.П. Василенко П.П. Попель Л.С. Крикля
										p
											strong Издательство: 
											| МОН
			include ../layouts/bottom