+b.bottom
	+e.row.row
		+e.column.column._content
			+e.about
				+e.title-wrap.title-wrap
					+e.about-title.h2.title О нас
				+e.about-content.content
					p
						strong
							| Иногда взрослые не понимают, что решебники нужны не для того, чтобы бездумно списать заданные на дом номера. Они полезны во многих ситуациях:
					ul
						li 
							| Учитель работает спустя рукава и непонятно объясняет новый материал? С выложенными онлайн ГДЗ разобраться с пройденными темами будет легко и просто.
						li
							| Ученик пропустил уроки из-за болезни, спортивного соревнования, концерта, танцевального конкурса? Тогда ему надо открыть решебник и узнать ответы на изученные одноклассниками вопросы и поэтапные действия сделанных в классе задач.
						li
							| Школьник учится неплохо, но ему не даются точные науки или бывают сложности с изучением родного и иностранного языка? Тогда ГДЗ помогут повысить отметки по трудным дисциплинам и заработать репутацию прилежного и ответственного учащегося.
						li
							| У родителей нет денег на оплату дорогостоящих репетиционных услуг? Тогда с решебниками ребенок самостоятельно подготовится к тестам, проверочным, диктантам, контрольным, экзаменам.
		+e.column.column._sidebar
			+e.blog-title
				+e.title-wrap.title-wrap
					.h2.title Популярные статьи
			+e.blog.blog__._vertical.js-wrapSlider(data-resolution='810', data-settings=`{
								"smartSpeed": 500,
								"items": 1,
								"margin": 12,
								"center": false,
								"nav": false,
								"autoWidth": true,
								"dots": true
							}`,)
				+e.A.item(href="#")
					+e.head
						+e.preview
							img(src="/img/post__preview.jpg")
						+e.title
							| Как писать эссе: правила и примеры
					+e.desc
						| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
					+e.date
						| 24.09.2020
				+e.A.item(href="#")
					+e.head
						+e.preview
							img(src="/img/post__preview.jpg")
						+e.title
							| Как писать эссе: правила и примеры
					+e.desc
						| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
					+e.date
						| 24.09.2020
				+e.A.item(href="#")
					+e.head
						+e.preview
							img(src="/img/post__preview.jpg")
						+e.title
							| Как писать эссе: правила и примеры
					+e.desc
						| Главное – не просто раскрыть тему, но и сделать это интересно, стараясь с первого предложения захватить внимание читателя...
					+e.date
						| 24.09.2020
			+e.btn-wrap
				+e.A.btn.btn__(href="/blog.html")
					+e.text
						| больше статей