+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex._justify
			+e.left
				+e.copyright
					| © GDZGo 2019 admin@gdzgo.ru
			+e.right.flex._right
				+e.NAV.nav
					+e.A.link(href="#") О проекте
					+e.A.link(href="#") Правообладателям
				