+b.HEADER.header
	+e.wrap.wrap
		+e.row.flex._vertical._justify
			+e.burger.js-show-mobile
				+e.burger-line
				+e.burger-line
				+e.burger-line
			+e.column._left
				+e.A.logo.h2(href="/main.html") GDZ
			+e.column._center.flex._center.js-mobile-menu
				+e.nav.flex._vertical
					+e.nav-item
						+b.menu-bg.js-close-menu
						+e.menu.menu__.js-menu
							+e.head.js-show-menu
								+e.head-icon
									+icon('gdz')
								+e.head-text ГДЗ
								+e.head-arrow
									+icon('arrow')
							+e.body.js-menu-body
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 1 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 2 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 3 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 4 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 5 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 6 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 7 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 8 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 9 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 10 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
								+e.box.js-menu-box
									+e.box-head.js-menu-head
										+e.box-text 11 класс
										+e.box-arrow
											+icon('arrow')
									+e.list
										include subjects
					+e.nav-item
						+e.A.nav-link(href="#")
							+e.nav-icon
								+icon('calc')
							+e.nav-text Калькулятор
					+e.nav-item
						+e.A.nav-link(href="#")
							+e.nav-icon
								+icon('trans')
							+e.nav-text Переводчик
					+e.nav-item
						+e.A.nav-link(href="#")
							+e.nav-icon
								+icon('blog')
							+e.nav-text Блог
					+e.nav-item
						+e.A.nav-link(href="#")
							+e.nav-icon
								+icon('orthography')
							+e.nav-text Орфография
					+e.nav-item
						+e.A.nav-link(href="#")
							+e.nav-icon
								+icon('conversion')
							+e.nav-text Конвертация
			+e.column._right.flex._right
				+e.FORM.search-form.search-form__.is-hidden(action="#")
					+e.INPUT.input(name="search", type="text", placeholder="Поиск")
					+e.BUTTON.btn.js-show-form(type="button")
						+icon('search')
	+e.bottom-bg