+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject1.svg")
	+e.subject-text Русский язык
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject2.svg")
	+e.subject-text Математика
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject3.svg")
	+e.subject-text География
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject4.svg")
	+e.subject-text Биология
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject5.svg")
	+e.subject-text История
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject6.svg")
	+e.subject-text Алгебра
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject7.svg")
	+e.subject-text Физика
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject8.svg")
	+e.subject-text Химия
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject9.svg")
	+e.subject-text Геометрия
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject10.svg")
	+e.subject-text Обществознание
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject11.svg")
	+e.subject-text Английский язык
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject12.svg")
	+e.subject-text Информатика
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject13.svg")
	+e.subject-text Литература
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject14.svg")
	+e.subject-text Окружающий мир
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject15.svg")
	+e.subject-text Немецкий язык
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject16.svg")
	+e.subject-text Французкий язык
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject17.svg")
	+e.subject-text Экология
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject18.svg")
	+e.subject-text ОБЖ
+e.A.subject(href="#")
	+e.subject-icon
		img(src="/app/img/subject19.svg")
	+e.subject-text Технология