.accordion {
	&__item {
		margin-top: 25rem;
		&.is-active {
			& > .accordion__body {
				display: block;
			}
			& > .accordion__head {
				.accordion__arrow {
					transform: rotate(-180deg);
				}
			}
		}
	}
	&__body {
		padding: 5rem 25rem 25rem 25rem;
		display: none;
		.accordion__item {
			margin-top: 20rem;
			.accordion__head {
				background: #ECF7F9;
			}
			.accordion__item {
				.accordion__head {
					background: #D7EEF3;
				}

			}
		}
	}
	&__head {
		display:flex;
		align-items: center;
		justify-content: space-between;
		padding: 9rem 30rem;
		background: #fff;
		border-radius: 20px;
		min-height: 38rem;
		cursor: pointer;
		&-text {
			display: flex;
			align-items: center;
			font-size: 16rem;
			line-height: 20rem;
		}
	}
	&__category {
		margin-right: 10rem;
		font-weight: 600;
	}
	&__arrow {
		width: 12rem;
		height: 8rem;
		transition: ease .2s;
		svg {
			transition: ease .2s;
			width: 12rem;
			height: 8rem;
			stroke-width: 1.4;
			stroke: #1A4C56;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -20rem;
		&-item {
			margin-top: 15rem;
			margin-left: 20rem;
			width: calc( 8.33% - 20rem );
			&.is-row {
				width: calc( 100% - 20rem );
				.accordion__number {
					justify-content: flex-start;
					padding-left: 30rem;
					position: relative;
					border: 0;
					&:after {
						content: '';
						display: block;
						position: absolute;
						right: 30rem;
						top: 50%;
						background: url(/img/accordion_arrow.svg) 0 0 no-repeat;
						width: 7rem;
						height: 10rem;
						background-size: 100% 100%;
						margin-top: -5rem;
					}
				}
			}
		}
	}
	&__number {
		background: #ECF7F9;
		border: 2px solid #D7EEF3;
		box-sizing: border-box;
		border-radius: 20px;
		height: 38rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16rem;
		line-height: 20rem;
		font-weight: 600;
		.remove-me {
			font-weight: 500;
			padding-left: 8rem;
		}
	}
	
	@include max-screen($large_mobile) {
		&__item {
			margin-top: 12px;
		}
		&__head {
			min-height: 25px;
			padding: 6px 12px;
			&-text {
				font-size: 10px;
				line-height: 12px;
			}
		}
		&__body {
			padding: 5px;
			.accordion__item {
				margin-top: 12px;
			}
		}
		&__list {
			margin-left: -8px;
			&-item {
				width: calc( 16.66% - 8px );
				margin-left: 8px;
				margin-top: 8px;
				&.is-row {
					width: calc( 100% - 8px );
					.accordion__number {
						padding-left: 10px;
						height: 25px;
						&:after {
							right: 10px;
							width: 6px;
							height: 8px;
						}
					}
				}
			}
		}
		&__number {
			height: 32px;
			font-size: 10px;
			line-height: 12px;
		}
		&__arrow {
			width: 8px;
			height: 6px;
			svg {
				transition: ease .2s;
				width: 8px;
				height: 6px;
				stroke-width: 1.4;
				stroke: #1A4C56;
			}
		}
	}
}