.owl {
	&-stage {
		display: flex;
	}
	&-carousel {
		.owl-item {
			float: none;
			height: 100%;
		}
	}
	&-dots {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	&-dot {
		width: 9px;
		height: 2px;
		transition: ease .2s;
		background: #fff!important;
		opacity: 0.5;
		&:not(:last-child) {
			margin-right: 7px;
		}
		&.active {
			width: 15px;
			opacity: 1;
		}
	}
}