.read-more {
	display: inline-flex;
	font-size: 10rem;
	line-height: 16rem;
	font-weight: 600;
	background: #fff;
	align-items: center;
	height: 26rem;
	padding: 0 20rem;
	background: #fff;
	border-radius: 15rem;
	&:before {
		content: attr(data-text-show);	
	}
	&.is-active {
		&:before {
			content: attr(data-text-hide);	
		}
	}
}