.blog {
	&_vertical {
		.blog__item {
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
		}
	}
	&__item {
		display: block;
		position: relative;
		padding: 10rem 10rem 5rem 10rem;
		border-radius: 15rem;
		background: rgba(#D6EEF3, .75);
		color: #353535;
		max-width: 277rem;
	}
	&__head {
		display: flex;
	}
	&__preview {
		width: 85rem;
		min-width: 85rem;
		margin-right: 11rem;
		border-radius: 15rem;
		overflow: hidden;
	}
	&__title {
		font-size: 13rem;
		line-height: 20rem;
		font-weight: bold;
		padding-top: 6rem;
		display: block;
	}
	
	&__desc {
		display: block;
		margin-top: 8rem;
		font-weight: 500;
		font-size: 10rem;
		line-height: 16rem;
	}
	
	&__date {
		display: block;
		margin-top: 11rem;
		font-weight: 600;
		font-size: 10rem;
		line-height: 16rem;
	}
	
	&__link {
		width: 112rem;
		height: 26rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: #EEF9FB;
		border-radius: 15px;
		font-size: 10rem;
		line-height: 16rem;
		font-weight: 600;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	.column_sidebar {
		margin-top: 87rem;
	}
	
	.column_content {
		margin-top: 25rem;
	}
	
	&__title-wrap {
		text-align: center;
		.title {
			width: 100%;
			max-width: 327rem;
		}
	}
	
	&__btn-wrap {
		margin-top: 30rem;
		text-align: center;
	}
	
	&__btn {
		width: 100%;
		max-width: 280rem;
	}
	
	&_page {
		.title {
			margin-top: 25rem;
			&_small {
				max-width: 146rem;
			}
		}
	}
	&__list {
		padding-top: 10rem;
		margin-left: -20rem;
		&.list-book {
			margin-left: 0;
		}
		.blog__item {
			width: calc( 25% - 20rem );
			margin-left: 20rem;
			margin-top: 15rem;
			max-width: none;
		}
	}
	
	@include max-screen($small_tablet) {
		.m-visible {
			display: block;
		}
		.m-hidden {
			display: none;
		}
		&__list {
			.blog__item {
				width: calc( 33.33% - 20rem );
			}
			&.owl-carousel {
				margin-left: 0;
				margin-right: -20px;
				width: calc(100% + 20px);
				.blog__item {
					width: 277rem;
					margin-left: 0;
				}
			}
		}
		&__cat {
			padding: 0;
			overflow: hidden;
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
		.column_content {
			margin-top: 0;
			padding-top: 15px;
		}
		.column_sidebar {
			margin-top: 20px;
		}
	}
	
	@include max-screen($large_mobile) {
		&__title {
			font-size: 12px;
		}
		&__title-wrap {
			.title {
				width: auto;
				max-width: auto;
			}
		}
		&__headline {
			margin-top: 0;
		}
		&__list {
			margin-left: 0;
			justify-content: center;
			.blog__item {
				width: 100%;
				margin-left: 0;
			}
		}
		&__title-wrap {
			padding-bottom: 5px;
		}
		.column_sidebar {
			margin-top: 0;
		}
		.column_content {
			padding-top: 20px;
		}
	}
}