.post {
	&__bottom {
		padding-bottom: 60rem;
		margin-top: 125rem;
		.title-wrap {
			text-align: center;
		}
	}
	.title-wrap {
		text-align: center;
		margin-top: 25rem;
	}
	&__preview {
		width: 278rem;
		float: left;
		margin: 0 23rem 20rem 0;
		overflow: hidden;
		img {
			border-radius: 15rem;
		}
	}
	&__content {
		margin-top: 25rem;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	
	@include max-screen($large_mobile) {
		&__preview {
			margin-right: 0;
			width: 100%;
			img {
				width: 100%;
			}
		}
		&__bottom {
			margin-top: 50px;
		}
	}
}