.table {
	background: rgba(#D6EEF3, .75);
	border-radius: 15px;
	padding: 30rem 35rem;
	&__left {
		width: 230rem;
		min-width: 230rem;
	}
	&__right {
		width: 100%;
	}
	&__row {
		display: flex;
		&_hidden {
			display: none;
		}
		&_line {
			position: relative;
			&:before {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				background: #fff;
				position: absolute;
				left: 0;
				top: 50%;
			}
		}
	}
	&__head, &__item {
		display: flex;
		align-items: center;
	}
	&__head {
		margin-bottom: 16rem;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 20rem;
		}
	}
	&__col {
		width: 1/11*100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__class {
		font-size: 16rem;
		line-height: 20/16*1;
		font-weight: 600;
		color: #C4D9DD;
		&[href] {
			color: #919191;
			transition: ease .2s;
			&:hover {
				color: #418896;
			}
		}
	}
	&__subject {
		display: flex;
		align-items: center;
		font-size: 16rem;
		line-height: 20/16*1;
		font-weight: 600;
		&-icon {
			width: 24rem;
			min-width: 24rem;
			margin-right: 24rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__ok {
		width: 21rem;
		height: 21rem;
		display: inline-flex;
		background: #7EC7DE url(/img/check.svg) center no-repeat;
		border-radius: 100%;
		transition: ease .2s;
		position: relative;
		&:hover {
			transform: scale(1.2);
		}
	}
	
	@include max-screen($large_mobile) {
		padding: 30px 0;
		&__head {
			display: none;
		}
		&__right {
			display: none;
		}
		&__left {
			width: 100%;
		}
		&__subject {
			font-size: 12px;
			line-height: 15px;
			font-weight: 500;
			margin-left: 30px;
			&-icon {
				width: 16px;
				min-width: 16px;
				margin-right: 15px;
			}
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		&__row {
			&_hidden {
				display: flex;
				margin-top: 7px;
				background: #DEF1F5;
				padding: 0 10px;
			}
		}
		&__number {
			display: flex;
			width: 100%;
			height: 27px;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
			color: #C4D9DD;
			&[href] {
				color: #246B79;
			}
		}
	}
}